body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
}

.container {
    width: 100cqw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.main, .status {
    box-sizing: border-box;
    width: 360px;
    display: flex;
    justify-content: flex-start;
}

.main {
    height: 160px;
    padding: 0 40px;
}

.inputs {
    position: relative;
    margin-top: 60px;
}

.inputs img {
    width: 180px;
}

.reset {
    background-color: #3BCCCA;
    color: white;
    font-weight: 600;
    font-size: large;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 0;
    width: 5.5em;
    height: 5.5em;
    padding: 0;
    box-shadow: 0 0 0 0.6em white, 0 0 0 0.8em #00A0E3;
}

input {
    border: solid;
    border-color: #00A0E3;
    color: #3F5F6D;
    border-radius: 0.5em;
    width: 80px;
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-overflow: ellipsis;
}

#lengthB {
    border-color: #3BCCCA;
}

#input-stepB {
    border-color: #3BCCCA;
}

#input-stepA {
    border-color: #00A0E3;
}

.lengthA-container {
    color: #3F5F6D;
    position: absolute;
    text-align: center;
    width: 95px;
    right: 25px;
    top: -55px;
}

.lengthB-container {
    color: #3F5F6D;
    position: absolute;
    text-align: center;
    width: 95px;
    right: 175px;
    top: 80px;
}

.angle-container {
    color: #3F5F6D;
    position: absolute;
    text-align: center;
    width: 95px;
    right: -2px;
    top: 145px;
}

span {
    color: #00A0E3;
}

input:disabled {
    background-color: #F4FAFE;
    cursor: not-allowed;
}

.status {
    align-items: center;
    margin-top: 50px;
    height: 60px;
    margin-left: 25px;
    padding-left: 10px;
    color: #3F5F6D;
    font-size: 0.8em;
    border-left: solid;
    border-color: #00A0E3;
}

.status-text {
    width: 110px;
}

.rounds {
    margin-top: 20px;
    border-top: solid;
    border-color: #00A0E3;
    background-color: #F4FAFE;
    width: 310px;
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.round-headline {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    padding: 2px 5px;
    color: #00A0E3;
    margin: -10px;
    font-size: 0.8em;
    font-weight: 600;
}

.round {
    text-align: center;
    color: #3F5F6D;
    font-size: 0.8em;
    width: 50px;
    align-content: center;
}

.round input[type="checkbox"] {
    accent-color: #3BCCCA;
    width: 20px;
    height: 20px;
}

.to-custom {
    display: flex;
    flex-wrap: wrap;
    width: 125px;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.to-custom input {
    width: 60px;
    height: 18px;
}

.steps {
    margin-top: 10px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
}

.number {
    width: 50px;
}

.input-steps {
    display: flex;
    width: 260px;
    justify-content: flex-end;
    gap: 11px;
}

ul {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
    margin-top: -34px;
}

.number ul li:nth-child(odd) {
    width: 300px;
    background-color: #F4FAFE;
    color: #00A0E3;
    padding-left: 10px;
    font-size: 0.9rem;
    line-height: 32px;
}

.number ul li:nth-child(even) {
    width: 300px;
    background-color: white;
    color: #00A0E3;
    padding-left: 10px;
    font-size: 0.9rem;
    line-height: 32px;
}

.step ul li:nth-child(odd) {
    color: #3F5F6D;
    text-align: right;
    line-height: 32px;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.step ul li:nth-child(even) {
    color: #96A7B1;
    text-align: right;
    line-height: 32px;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uno {
    background-image: url(./img/arrows.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    position: absolute;
    width: 25px;
    height: auto;
    aspect-ratio: 1;
    border: 0;
    padding: 0;
    left: 173px;
    top: -7px;
    z-index: 2;
}

.flip {
    transform: scaleX(-1);
}

.indent {
    width: 50px;
}

.input-stepB-container {
    color: #3F5F6D;
    text-align: center;
    width: 140px;
    z-index: 1;
}

.input-stepA-container {
    color: #3F5F6D;
    text-align: center;
    width: 120px;
    z-index: 1;
}

#input-stepB, #input-stepA {
    width: 110px;
    height: 32px;
    padding: 0;
}

.step.B, .step.A {
    width: 120px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

